<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>form</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="enter name" name="name" id="name">
        <input type="email" placeholder="enter email" name="email" id="email">
        <button>Submit</button>
    </form>
</body>
</html>